aks-terraform/networking-module/.terraform
aks-terraform/networking-module/.terraform.lock.hcl
aks-terraform/aks-cluster-module/.terraform
aks-terraform/aks-cluster-module/.terraform.lock.hcl
aks-terraform/.terraform
aks-terraform/.terraform.lock.hcl
~/.zshrc
aks-terraform/~
aks-terraform/terraform.tfstate
aks-terraform/terraform.tfstate.backup
~/.azure
~/.kube
aks-terraform/.terraform
aks-terraform/.docker
~
.docker
aks-terraform/terraform.tfstate
aks-terraform/terraform.tfstate.backup

